<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "io.imfastTax.sundayadegboye"
    versionCode = "10"
    version     = "1.0.5" >

<!-- versionCode is optional and Android only -->

  <name>Nig Tax Pad</name>

  <plugin name="cordova-plugin-whitelist" spec="1" /> <!-- From stackoverflow.com Phonegap Build config.xml and geolocation--> <!-- Added. v1.05-->
  <description>
      The Nigerian Tax Pad (Nig Tax Pad) is a portable summary of some of the major tax laws in Nigeria. It contains summary of Nigeria Taxes and Rates, PAYE Tax Calcuator and a review of the Finance Act 2019.
  </description>

  <author href="https://sundayadegboye.imfast.io/" email="adesung2005@yahoo.co.uk">
      Sunday Adegboye
  </author>

  <!--<icon src="icon.png" />-->
  <!--<plugin name="cordova-plugin-splashscreen" source="npm" />-->
   <plugin name="cordova-plugin-splashscreen" spec="6.0.0" />


    <platform name="android">
        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/icon/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/icon/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/icon/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/icon/android/screen-xhdpi-portrait.png" />
    <splash src="splash.png" />
<!-- from uncutacademy.com -->
  
  <access origin="*" /> <!-- Added. v1.05-->
  <allow-navigation href="tel:+2348064205333"/>
  <allow-navigation href="sms:*"/>
  <allow-navigation href="mailto:adesung2005@yahoo.co.uk/*"/>
  <allow-navigation href="https://api.whatsapp.com/send?phone=2348064205333/*"/>
  <allow-navigation href="https://www.linkedin.com/in/sunday-adegboye-aca-046644a62/*"/>
  <allow-navigation href="https://www.twitter.com/adesung2005/*"/>
  <allow-navigation href="https://www.facebook.com/Sunny.adesung/*"/>


  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:adesung2005@yahoo.co.uk/*"/>
  <allow-intent href="https://api.whatsapp.com/send?phone=2348064205333/*"/>
  <allow-intent href="https://www.linkedin.com/in/sunday-adegboye-aca-046644a62"/>
  <allow-intent href="https://www.twitter.com/adesung2005/*"/>
  <allow-intent href="https://www.facebook.com/Sunny.adesung/*"/>
   <!-- This take care of all the https://.... -->
  <!--<allow-intent href="*"/>     Allow all unrecognized URLs to open installed apps -->

  <preference name="phonegap-version" value="cli-9.0.0" /> <!-- Added. v1.05-->
  <preference name="orientation" value="portrait"/>
  <preference name="SplashScreenDelay" value="5000" />
  <!--<plugin name="cordova-plugin-x-socialsharing" source="npm" />-->
  <preference name="android-minSdkVersion" value="27" /> <!-- Added. v1.05-->
  <preference name="android-maxSdkVersion" value="29" /> <!-- Added. v1.05-->
  <preference name="android-targetSdkVersion" value="28" />
  <!--<preference name="android-minSdkVersion" value="17"/>To solve the problem PnoneGap Build & Android 9(Pie): "this app was build for an older version of android". community.adobe.com -->
  <!--<preference name= "phonegap-version" value="cli-9.0.0"/>-->
</widget>